In [24]:
import pandas as pd
import numpy as np
import os
import datetime
import json
import itertools
import cudf

from tqdm import tqdm
#from multiprocessing import Pool

counter = 0

joint_codes = {
"EW24": "NS1",
"CC1": "NS24",
"NE6": "NS24",
"EW13" : "NS25",
"EW14": "NS26",
"DT15": "CC4",
"STC": "NE16",
"PTC": "NE17"
}

interchange_codes = {
    "BP1": "NS4",
    "CC15": "NS17",
    "CE2": "NS27",
    "CC9": "EW8",
    "DT14": "EW12",
    "NE3": "EW16",
    "CC22": "EW21",
    "DT35": "CG1",
    "CC29": "NE1",
    "DT19": "NE4",
    "DT12": "NE7",
    "CC13": "NE12",
    "STC": "NE16",
    "PTC": "NE17",
    "DT26": "CC10",
    "DT9": "CC19",
    "DT16": "CE1",
    "TE2": "NS9",
    "TE9": "CC17",
    "TE11": "DT10",
    "TE14": "NS22",
    "TE17": "EW16",
    "TE20": "NS27",
    "TE31": "DT37",
    "FL1": "CC32",
    "JS1": "NS4",
    "JS8": "EW27",
    "JE5": "EW24-NS1",
    "CR5": "EW1",
    "CR8": "NE14",
    "CR11": "NS16",
    "CR13": "TE7",
	"CP4": "NE17",
    #unpaid links
    "BP6": "DT1",
    "PB6": "DT1", # silly HSO intern
    "DT32": "EW2",
    "DT11": "NS21",
    "CP3": "PE4"
    
    }

def replace_jointcode(code):
  code = code.split('/')[0]
  if code in joint_codes.keys():
    return joint_codes[code]
  if code in interchange_codes.keys():
    return interchange_codes[code]
  return code
  
#http://www.racketracer.com/2016/07/06/pandas-in-parallel/

# def parallelize_dataframe(df, func):
    # df_split = np.array_split(df, num_partitions)
    # pool = Pool(num_cores)
    # df = pd.concat(pool.map(func, df_split))
    # pool.close()
    # pool.join()
    # return df

def pairwise(iterable):
    "s -> (s0,s1), (s1,s2), (s2, s3), ..."
    a, b = itertools.tee(iterable)
    next(b, None)
    return list(a), list(b)
    
def unpack_column(data_row):
  global df_fin
  global df_temp
  global counter
  
  orig = replace_jointcode(data_row["ORIGIN_PT_CODE"])
  dest = replace_jointcode(data_row["DESTINATION_PT_CODE"])
  a, b = pairwise(data[orig][dest])
  a.pop()
  pairs_len = len(b)
  df_data = pd.DataFrame([data_row])
  df_data = df_data.loc[df_data.index.repeat(pairs_len)]
  df_data["ORIGIN_PT_CODE"] = a
  df_data["DESTINATION_PT_CODE"] = b
  if len(df_data.index) > 0:
     df_temp = pd.concat([df_temp, df_data])
     #make sure df_temp doesn't get too big
     counter = counter + 1
     if counter > 500:
        #df_temp = df_temp.groupby(['DAY_TYPE', 'ORIGIN_PT_CODE', 'DESTINATION_PT_CODE', 'TIME_PER_HOUR']).sum()
        df_fin = df_fin.append(cudf.DataFrame.from_pandas(df_temp))
        #df_fin = df_fin.append(df_temp)
        df_temp = pd.DataFrame()
        counter = 0

month = input("Dataset for (YYYYMM): ")
weekdays = input("Number of weekdays: ")
weekdays = int(weekdays)

specials = input("Number of weekends and holidays: ")
specials = int(specials)

total = specials + weekdays

#now for orig dest

in_file = os.path.join(os.getcwd(), "..", "raw_data", month, "origin_destination_train_" + month + ".csv")

df = pd.read_csv(in_file)

#orig dest
df['multiplier'] = df['DAY_TYPE']

df = df.replace({'ORIGIN_PT_CODE': interchange_codes, 'DESTINATION_PT_CODE': interchange_codes, 'multiplier': {'WEEKENDS/HOLIDAY': specials, 'WEEKDAY': weekdays}})
df['TOTAL_TRIPS'] = (df['TOTAL_TRIPS'] / df['multiplier']).round(0)
df = df[df['TOTAL_TRIPS'] !=0]
df = df[df['ORIGIN_PT_CODE'] != df['DESTINATION_PT_CODE']]
df1 = df.drop(columns=['multiplier'])

#congestion analysis
with open('train_routes_nx.json') as json_file:
    data = json.load(json_file)
    
tqdm.pandas()

df_fin = cudf.DataFrame()
df_temp = pd.DataFrame()
df1.progress_apply(unpack_column, axis=1)

#pack up the stragglers
#df_temp = df_temp.groupby(['DAY_TYPE', 'ORIGIN_PT_CODE', 'DESTINATION_PT_CODE', 'TIME_PER_HOUR']).sum()
df_fin = df_fin.append(cudf.DataFrame.from_pandas(df_temp))
#df_fin = df_fin.append(df_temp)

df_fin = df_fin.groupby(['DAY_TYPE', 'ORIGIN_PT_CODE', 'DESTINATION_PT_CODE', 'TIME_PER_HOUR']).sum()

df_fin = df_fin.to_pandas()

df_graphs = df_fin

#copy out, for graph generation

df_fin1 = pd.pivot_table(df_fin, index=['DAY_TYPE', 'ORIGIN_PT_CODE', 'DESTINATION_PT_CODE'], columns=["TIME_PER_HOUR"], aggfunc={'TOTAL_TRIPS': np.sum})

df_fin = df_fin.groupby(['DAY_TYPE', 'ORIGIN_PT_CODE', 'DESTINATION_PT_CODE']).sum()

Dataset for (YYYYMM): 202106
Number of weekdays: 22
Number of weekends and holidays: 8

100%|██████████| 327603/327603 [08:15<00:00, 661.63it/s]

In [23]:
df_fin1

                                                    TOTAL_TRIPS                \
TIME_PER_HOUR                                                0      5      6
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                        NaN  134.0  311.0
                                BP9                         NaN   55.0   82.0
                 BP11           BP10                        NaN   31.0   53.0
                                BP12                        NaN  279.0  623.0
                 BP12           BP11                        NaN   20.0   55.0
...                                                         ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                         1.0   98.0  178.0
                 SW8            NE16                        1.0  104.0  189.0
                                SW7                         3.0    9.0   54.0
                 TE1            NS9                         NaN    NaN    4.0
                 TE3            NS9                         NaN    NaN   51.0

                                                                          \
TIME_PER_HOUR                                           7      8      9
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                 307.0  192.0  156.0
                                BP9                  101.0   81.0   41.0
                 BP11           BP10                  70.0   64.0   30.0
                                BP12                 655.0  382.0  271.0
                 BP12           BP11                  79.0  102.0   67.0
...                                                    ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                  252.0  290.0  354.0
                 SW8            NE16                 274.0  312.0  377.0
                                SW7                  107.0  139.0  169.0
                 TE1            NS9                   21.0   35.0   14.0
                 TE3            NS9                   87.0   73.0   75.0

                                                                          \
TIME_PER_HOUR                                           10     11     12
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                 126.0  117.0  124.0
                                BP9                    6.0    7.0   10.0
                 BP11           BP10                   4.0    5.0    7.0
                                BP12                 203.0  179.0  194.0
                 BP12           BP11                  34.0   41.0   53.0
...                                                    ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                  326.0  291.0  289.0
                 SW8            NE16                 354.0  321.0  309.0
                                SW7                  163.0  190.0  235.0
                 TE1            NS9                    7.0   13.0   17.0
                 TE3            NS9                   78.0   82.0   92.0

                                                                          \
TIME_PER_HOUR                                           13     14     15
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                 115.0   91.0   86.0
                                BP9                    7.0    5.0    5.0
                 BP11           BP10                   4.0    2.0    3.0
                                BP12                 187.0  150.0  128.0
                 BP12           BP11                  44.0   55.0   65.0
...                                                    ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                  273.0  257.0  227.0
                 SW8            NE16                 297.0  273.0  245.0
                                SW7                  233.0  221.0  247.0
                 TE1            NS9                   20.0   14.0   18.0
                 TE3            NS9                   92.0   71.0   67.0

                                                                          \
TIME_PER_HOUR                                           16     17     18
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                 102.0  129.0  135.0
                                BP9                    7.0   41.0   43.0
                 BP11           BP10                   4.0   31.0   28.0
                                BP12                 146.0  187.0  198.0
                 BP12           BP11                 101.0  242.0  283.0
...                                                    ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                  235.0  242.0  225.0
                 SW8            NE16                 247.0  246.0  233.0
                                SW7                  265.0  333.0  303.0
                 TE1            NS9                   24.0   40.0   36.0
                 TE3            NS9                   89.0   84.0   83.0

                                                                          \
TIME_PER_HOUR                                           19     20     21
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                  89.0   73.0   49.0
                                BP9                   32.0    8.0    2.0
                 BP11           BP10                  19.0    4.0    1.0
                                BP12                 127.0   92.0   62.0
                 BP12           BP11                 188.0  131.0   96.0
...                                                    ...    ...    ...
WEEKENDS/HOLIDAY SW7            SW8                  150.0  121.0  119.0
                 SW8            NE16                 147.0  118.0  113.0
                                SW7                  316.0  308.0  250.0
                 TE1            NS9                   35.0   39.0    NaN
                 TE3            NS9                   51.0   35.0    NaN


TIME_PER_HOUR                                           22    23
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE
WEEKDAY          BP10           BP11                  25.0   9.0
                                BP9                    3.0   1.0
                 BP11           BP10                   1.0   1.0
                                BP12                  35.0  13.0
                 BP12           BP11                  53.0   8.0
...                                                    ...   ...
WEEKENDS/HOLIDAY SW7            SW8                   84.0  22.0
                 SW8            NE16                  79.0  19.0
                                SW7                  139.0  50.0
                 TE1            NS9                    NaN   NaN
                 TE3            NS9                    NaN   NaN

[720 rows x 20 columns]

In [25]:
df_graphs

                                                                   TOTAL_TRIPS
DAY_TYPE         ORIGIN_PT_CODE DESTINATION_PT_CODE TIME_PER_HOUR
WEEKDAY          NS3            NS4                 0                     26.0
WEEKENDS/HOLIDAY DT29           DT30                17                  2149.0
WEEKDAY          CC26           CC27                22                    80.0
WEEKENDS/HOLIDAY NS4            NS5                 14                  1683.0
                 EW5            EW6                 12                  1396.0
...                                                                        ...
                 NE13           NE12                20                  1148.0
WEEKDAY          NS9            TE1                 15                    10.0
                 NE7            NS21                15                  3220.0
                 DT30           DT29                9                   2823.0
                 EW11           EW10                23                   385.0

[13944 rows x 1 columns]